<!-- traigo el template de inicio con funcion extends esto es herencia-->
{% extends 'appcoder/inicio.html' %}

{% block contenido %}
<h1> Entrega intermedia de MVT - Modelo Deportes </h1>
<p>
    Los deportes que se ven en la base de datos son: 
</p>
<ul>
    {% for i in deportes %}
    <li> {{i.nombre}} </li>
    {% endfor %}
</ul>

<p>
    Alguna informacion sobre los equipos registrados:

    <ul>
        {% for i in deporte %}
            <li>{{i}}</li>
        {% endfor %}
    </ul>
</p>

{% endblock %}