<!-- traigo el template de inicio con funcion extends esto es herencia-->
{% extends 'appcoder/inicio.html' %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primer MVT</title>
</head>

<body>
    
    {% block contenido %}
    <H1>
        Entrega intermedia de MVT - Modelo Familia
    </H1>

    <p> Este es el template, la vista del modelo familia que fue mejorada</p>
    
    <p>
        Los familiares olimpicos ingresados en la BBDD y su breve reseña:
    </p>

    <ul>
        {% for familiar in respuesta %}
            <li> {{familiar}} </li>
        {% endfor %}
    </ul>
    
    {% endblock %}

</body>

</html>